@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:wght@400;600;700;800&family=Ruge+Boogie&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Lato", sans-serif;
}

html,
body {
  @apply min-w-full min-h-full;
  font-family: var(--secondary-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--primary-font);
}

html {
  @apply scroll-smooth;
}

body {
  @apply flex flex-col;
  > main {
    @apply flex-1;
  }
}

.container {
  @apply w-full max-w-screen-2xl;
  @apply px-4 mx-auto;
}
