@import "_base";

@import "components/button";
@import "components/section";
@import "components/hero";
@import "components/audio";
@import "components/video";
@import "components/testimonials";
@import "components/main_header";
@import "components/main_footer";
@import "components/popup";


html,
body {
  @apply bg-background;

  section:nth-child(odd) {
    @apply bg-background-secondary;
  }
}

#main_header,
#main_footer {
  @apply bg-brown-light text-white;
}

#main_header {
  @apply bg-opacity-0 transition duration-200;
}

body.scrolled #main_header {
  @apply bg-opacity-100;
}

.mobile_hidden {
  @apply hidden lg:block;
}
.desktop_hidden {
  @apply lg:hidden;
}

.xl_only {
  @apply hidden xl:block;
}

.xl_exclude {
  @apply xl:hidden;
}

.mask {
  @apply fixed w-full h-full z-[500] bg-black bg-opacity-40;
  @apply hidden;
}

body.opened_menu {
  .mask {
    @apply block;
  }
}

body.has_popup {
  @apply overflow-hidden;
}
