{{ $settings := index site.Data.settings .Page.Lang }}

<!DOCTYPE html>
<html lang="{{ .Page.Lang }}">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{partial "metadata" .}}
        <title>{{$settings.title}} - {{replace .Page.Params.hero.title "*" ""}}</title>
        {{ partial "css" . }} 
    </head>

    <body>
        <div class="mask close_menu"></div>
        <div id="video_view" class="hidden">
            <span class="close">{{partial "svg/close.svg"}}</span>

        </div>
        {{block "main" .}}
        {{end}}

        {{ partial "js" . }}
    </body>

</html>

