<section class="audio">
    <span class="nav_span" id="{{.nav.section_id}}"></span>
    <div class="container">
        <div>
            <h2>{{.title}}</h2>
            <div class="code">
                {{.code | safeHTML }}
            </div>
        </div>
    </div>
</section>