<div class="button_bar">
    {{ range .button_bar }}
    {{ if eq .type "external_link"}}
    {{ $to := .to}}
    {{ $text := .text}}
    {{ $style := .style}}

    {{ range site.Data.settings.links }}
    {{ if eq .type $to}}
    <a href="{{.link}}" class="button {{$style}}" target="_blank">
        <span class="icon">{{ partial (.type | printf "svg/%s.svg") . }}</span>
        <span>{{$text}}</span>
    </a>
    {{end}}
    {{end}}

    {{ end }}
    {{ if eq .type "internal_scroll"}}
    <a href="#{{.section_id}}" class="button {{.style}}">
        {{if .icon }}
        <span class="icon">{{ partial (.icon | printf "svg/%s.svg") . }}</span>
        {{end}}
        <span>{{.text}}</span>
    </a>
    {{ end }}
    {{ end }}
</div>