{{ $settings := index site.Data.settings .Page.Lang }}

{{ with .Page.Params.hero }}
<div class="section hero">
    <span class="nav_span" id="{{.nav.section_id}}"></span>
    <div class="container">
        <div class="split">
            <h1>{{.title | markdownify}}</h1>
            <div class="text">
                {{.text | markdownify}}
            </div>
            {{ partial "button_bar" .}}

        </div>
        <div class="split">
            <div class="xl_only">
                {{ range site.Data.settings.links}}
                {{ if eq .type "site" }}
                {{if and (eq $.Page.Lang "en") (.en_link)}}
                <a href="{{.en_link }}" target="_blank" class="button small raw">> {{ index . $.Page.Lang}}</a>
                {{ else }}
                <a href="{{.link }}" target="_blank" class="button small raw">> {{ index . $.Page.Lang}}</a>
                {{ end }}
                {{ end}}
                {{ end }}
            </div>
            {{with resources.Get .image}}<img class="hero_img" src="{{.RelPermalink}}" alt="">{{end}}
        </div>
    </div>
</div>

{{ end }}