{{ $body :=  index site.Data.legal .Page.Lang }}


<section id="legal" class="section legal popup">
    <div class="container">
        <span class="close">{{ partial "svg/close.svg"}}</span>
        <div>
            <h2>{{index (index site.Data.dict .Page.Lang) "legal"}}</h2>
            <div class="body">
                {{$body | markdownify }}
            </div>
        </div>
    </div>
</section>