{{ $settings := index site.Data.settings .Page.Lang }}


<footer id="main_footer">
    <div class="container">
        <div class="links">
            <span data-popup_link="legal" class="button small raw">{{index (index site.Data.dict .Page.Lang) "legal"}}</span>
        </div>
        <div class="credits">
            <span>florian surya ananda</span>
            <span>© {{$settings.title}} {{ dateFormat "2006" now }}</span>
        </div>
    </div>
</footer>