{{ $settings := index site.Data.settings .Page.Lang }}

<nav class="main_nav">
    <span class="close_menu">
        {{ partial "svg/close.svg" }}
    </span>
    <div class="links">
        <a href="#{{.Page.Params.hero.nav.section_id}}">{{.Page.Params.hero.nav.text}}</a>
        {{range .Page.Params.blocks}}
        <a href="#{{.nav.section_id}}" >{{.nav.text}}</a>
        {{end}}
    </div>
    <div class="xl_exclude">
        {{ range site.Data.settings.links}}
            {{ if eq .type "site" }}

                {{if and (eq $.Page.Lang "en") (.en_link)}}
                    <a href="{{.en_link }}" target="_blank" class="button small outline">{{ index . $.Page.Lang}}</a>
                {{ else }}
                    <a href="{{.link }}" target="_blank" class="button small outline">{{ index . $.Page.Lang}}</a>
                {{ end }}
                
            {{ end}}        
        {{ end }}        
    </div>
    <div class="desktop_hidden">
        {{ range $.Site.Home.AllTranslations }}
        {{ if ne .Lang $.Page.Lang }}
        <a href="{{.RelPermalink}}" class="button small outline">{{$settings.link_to_lang}}</a>
        {{ end }}
        {{ end }}
    </div>
</nav>


<header id="main_header">

    <div class="container">
        <div class="right">
            <div id="menu_trigger">
                {{ partial "svg/menu.svg" }}
            </div>
            <a href="#" class="title">
                <h1>
                    <span>florian surya ananda</span>
                    <span>{{$settings.title}}</span>
                </h1>
            </a>
        </div>
        <div class="mobile_hidden">
            {{ range $.Site.Home.AllTranslations }}
            {{ if ne .Lang $.Page.Lang }}
            <a href="{{.RelPermalink}}" class="button small raw">> {{$settings.link_to_lang}}</a>
            {{ end }}
            {{ end }}
        </div>
        

        <nav class="links">
            {{ range .Site.Data.settings.links}}

            {{if and (eq $.Page.Lang "en") (.en_link)}}
            <a href="{{.en_link}}" target="_blank" title="{{index . $.Page.Lang}}">{{ partial (.type | printf "svg/%s.svg") . }}</a>
            {{ else }}
            <a href="{{.link}}" target="_blank" title="{{index . $.Page.Lang}}">{{ partial (.type | printf "svg/%s.svg") . }}</a>
            {{ end }}
            
            {{end}}
        </nav>
    </div>

</header>