{{ $settings := index site.Data.settings .Page.Lang }}

{{ $img_path := (.Page.Lang | printf "img/default-og_%s.png") }}
{{ $img := (resources.Get $img_path).Permalink }}

{{ $title := replace .Page.Params.hero.title "*" ""}}

<meta name="description" content="{{ .Page.Params.hero.text }}" />
<meta name="og:title" content="{{$settings.title}} - {{ $title}}" />
<meta name="og:site_name" content="{{$settings.title}} - {{ $title}}" />
<meta name="og:locale" content="{{.Page.Language}}" />
<meta name="og:url" content="{{.Permalink}}" />
<meta property="og:image" content="{{$img}}" />
<meta name="twitter:site" content="{{$settings.title}} - {{ $title}}" />
<meta name="twitter:title" content="{{$settings.title}} - {{ $title}}" />

{{ $twitter_img_path := (.Page.Lang | printf "img/twitter_image_%s.png") }}

{{ $twitter_img :=(resources.Get $twitter_img_path).Permalink }}

<meta name="twitter:image" content="{{$twitter_img}}" />
<meta name="twitter:url" content="{{.Permalink}}" />
<meta name="twitter:description" content="{{ .Page.Params.hero.text }}" />
<meta name="twitter:card" content="summary_large_image" />
