<section class="section {{if .invert}} invert {{end}}">
    <span class="nav_span" id="{{.nav.section_id}}"></span>
    <div class="container">
        <div class="split">
            <h2>{{.title}}</h2>
            <div class="text">
                {{.text | markdownify}}
            </div>
            {{ partial "button_bar" .}}
        </div>
        <div class="split">
            {{with resources.Get .image}}<img class="section_img" src="{{.RelPermalink}}" alt="">{{end}}
        </div>
    </div>
</section>