<section class="testimonials">
    <span class="nav_span" id="{{.nav.section_id}}"></span>
    <div class="container">
        <h2>{{.title}}</h2>
        <ul>
            {{ range .testimonials}}
            <li>
                <blockquote>
                    <div class="content">
                        {{ .text | markdownify }}                        
                    </div>
                    <div class="name">
                        {{ .name }}
                    </div>
                </blockquote>
            </li>
            {{ end }}
        </ul>
    </div>
</section>

