<section class="video">
    <span class="nav_span" id="{{.nav.section_id}}"></span>
    <div class="image" style="background-image: url('{{with resources.Get .image}}{{.RelPermalink}}{{end}}');"></div>
    <div class="container">
        <h2 class="hidden">{{.title}}</h2>
        {{ $link :=  replace .link "youtu.be" "www.youtube.com/embed" }}
        
        <span class="video_popup_link button outline" data-link="{{$link}}?enablejsapi=1" data-title="{{.title}}">
            <span class="icon">{{ partial "svg/play.svg"}}</span>
            <span>{{.title | lower }}</span>
        </span>
    </div>
</section>

