.audio {
    .container > div {
        @apply w-full flex flex-col gap-[25px];
        .code {
            @apply rounded-[50px] px-8 py-4 bg-[#f5f5f5];
            @apply border-white border-[8px] ;
           
        }
    }
}