.button_bar {
  @apply flex flex-row gap-[20px] mt-[10px];
  @apply flex-wrap;
}
.button {
  @apply inline-flex whitespace-nowrap max-w-max rounded-full;
  @apply align-middle items-center;
  @apply transition;
  @apply cursor-pointer;
  @apply gap-[15px] px-[40px] py-[25px] text-[16px] md:text-[20px];
  @apply text-white font-semibold;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);

  &.small {
    @apply px-[15px] py-[7px];
    @apply text-[14px] md:text-[14px];
    box-shadow: none;
  }
  &.raw {
    @apply px-0 font-bold;
    @apply opacity-80 hover:opacity-100 transition;
    &:hover {
      @apply underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 4px;
    }
  }

  font-family: var(--primary-font);
  .icon {
    @apply scale-[1.5] -ml-[10px] -mt-[3px];
    svg {
      @apply max-w-[24px] max-h-[24px];
      path {
        @apply fill-white transition;
      }
      rect {
        @apply stroke-white transition;
      }
    }
  }
  &.green {
    @apply bg-green hover:bg-green-light;
  }
  &.outline {
    @apply py-[17px];
    @apply border-[4px];
    @apply border-primary-light hover:border-white;
    @apply text-primary-light hover:text-white;
    &.small {
      @apply py-[4px];
      @apply border-[2px];
    }
    .icon {
      svg {
        path {
          @apply fill-primary-light;
        }
        rect {
          @apply stroke-primary-light;
        }
      }
    }
    &:hover {
      .icon {
        svg {
          path {
            @apply fill-white;
          }
          rect {
            @apply stroke-white;
          }
        }
      }
    }
  }
}
