.section.hero {
  background: linear-gradient(97.92deg, #8d4b27 32.82%, #f5ad04 99.63%);
  .container {
    @apply pt-[150px] md:pt-[100px];
    > .split:nth-of-type(1) {
      @apply lg:w-3/5;
   
    }
    > .split:nth-of-type(2) {
      @apply lg:w-2/5;
    
      @apply flex items-center justify-center relative;
      @apply xl:items-end justify-start;
      img {
        @apply w-full;
        @apply xl:absolute xl:z-10;
        @apply xl:top-[50px] right-0;
        @apply border-background border-opacity-60;
        @apply max-w-[300px];
        @apply lg:max-w-full;
        @apply xl:max-w-[500px];       
        
      }
    }
  }

  h1,
  .text {
    @apply text-white;
  }

  h1 {
    @apply text-[30px] font-semibold leading-[110%] tracking-[-4.5%];
    @apply md:text-[40px] md:leading-[110%] md:tracking-[-4.5%];
    @apply xl:text-[55px] xl:leading-[110%] xl:tracking-[-4.5%];
    strong {
      @apply text-primary font-bold;     

    }
  }
  .button_bar {
    @apply justify-start;
  }
}
