#main_header {
  @apply border-t-[20px] border-primary sticky top-0 z-50 -mb-[115px] md:-mb-[70px];
  @apply bg-opacity-0;
  @apply pb-[10px] md:pb-0;

  svg {
    @apply w-[30px] h-[30px];
    path {
      @apply fill-primary-light transition;
    }
  }

  .container {
    @apply relative;
    @apply flex-col gap-[10px];
    @apply md:gap-[70px] px-[40px] py-[10px] xl:px-[80px];
    @apply flex items-center justify-between;
    @apply md:flex-row;
  }
  h1 {
    @apply flex flex-col gap-0 text-center md:text-left;
    span {
      &:nth-of-type(1) {
        @apply uppercase font-black text-primary-light text-[12px];
      }
      &:nth-of-type(2) {
        @apply font-black text-white text-[18px] md:text-[20px];
      }
    }
  }
  nav {
    &.links {
      @apply flex gap-[10px];
      a {
        svg {
          @apply w-[20px] h-[20px];
          @apply md:w-[30px] md:h-[30px];
          path {
            @apply fill-primary-light transition;
          }
        }
        &:hover {
          svg {
            path {
              @apply fill-white;
            }
          }
        }
      }
    }
  }

  #menu_trigger {
    @apply cursor-pointer;
    @apply absolute left-[20px] md:relative md:left-0;

    svg {
    }
    &:hover {
      svg {
        path {
          @apply fill-white;
        }
      }
    }
  }

  .right {
    @apply flex gap-[15px] items-center;
  }
}

.main_nav {
  @apply fixed left-0 top-0 z-[1000];
  @apply px-[20px] py-[50px] h-full w-full max-w-[300px];
  @apply bg-brown-light;
  @apply flex flex-col gap-[20px];
  @apply -translate-x-[200%]  transition duration-100;

  .links {
    @apply flex flex-col  leading-[110%];
    a {
      &:hover {
        @apply underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
      }
    }
  }

  a {
    @apply text-primary-light hover:text-white transition font-semibold py-[10px];
  }

  .close_menu {
    @apply absolute top-0 right-0 p-[15px];
    @apply cursor-pointer;
    svg {
      @apply w-[24px] h-[24px];
      path {
        @apply fill-primary-light transition;
      }
    }
    &:hover {
      svg {
        path {
          @apply fill-white;
        }
      }
    }
  }
}

body.opened_menu {
  .main_nav {
    @apply translate-x-0;
  }
}
