#main_footer {
  .container {
     @apply px-[40px] py-[10px] xl:px-[80px];
     .credits {
      @apply flex flex-col;
      font-family: var(--primary-font);
      > span:nth-of-type(1) {
        @apply font-black uppercase text-[12px];
      }
      > span:nth-of-type(2) {
        @apply font-black;
      }
    }
  }
  .links a {
    @apply inline-block  my-2;
  }
}
