.popup {
  @apply fixed hidden;
  &.is_active {
    @apply block;
  }
  .close {
    @apply absolute top-0 right-0 p-[20px] cursor-pointer;
    @apply opacity-50 hover:opacity-70 transition;
    svg {
      @apply h-[20px] w-[20px];
    }
  }

  @apply top-0 left-0 w-full h-full z-[5000];
  @apply bg-[#a5a5a5] bg-opacity-80;
  .container {
    @apply bg-white h-full md:h-[90%]  max-w-[1000px] p-[60px]  md:rounded-[25px];
    @apply top-1/2 -translate-y-1/2;
    .body {
      @apply mr-8;
    }
    > div {
      @apply flex flex-col gap-[25px] h-full overflow-y-auto;

      h3 {
        @apply font-black text-xl mt-8;
      }
      p {
        @apply my-4;
      }
      ul,
      ol {
        @apply ml-8 my-4;
      }
      ul {
        @apply list-disc;
      }
      ol {
        @apply list-decimal;
      }
    }
  }
}

body.has_popup {
  @apply overflow-hidden;
}
