section,
.section {
  @apply relative;
  .container {
    @apply relative;
    @apply gap-[40px] md:gap-[70px] px-[20px] py-[50px] md:px-[40px] xl:px-[80px] xl:py-[80px];
  }
  h2 {
    @apply text-[22px] md:text-[25px] lg:text-[30px] xl:text-[35px];
    @apply leading-[120%] ;

    @apply text-primary-darker font-black;
    &:first-letter {
        @apply text-[1.5em] text-primary-dark;       
    }
  }
}

.section {
  .container {
    @apply flex flex-col-reverse lg:flex-row;
    .split {
      @apply flex flex-col gap-[25px];
    }
    > .split:nth-of-type(1) {
      @apply lg:w-3/5;
      @apply xl:w-2/3;
      @apply justify-end;
    }
    > .split:nth-of-type(2) {
      @apply lg:w-2/5;
      @apply xl:w-1/3;
      @apply flex items-center lg:items-end justify-end;
      img {
        @apply w-full;
        @apply xl:top-[80px] right-0;
        @apply border-white border-opacity-90;
        @apply max-w-[300px];
        @apply lg:max-w-full;
        @apply xl:max-w-[500px];
        @apply border-[15px];
      }
    }
  }
  &:not(.invert) {
    .container {
      > .split:nth-of-type(2) {
        @apply lg:items-start;
        img {
          @apply rounded-tl-[150px] rounded-br-[150px];
          @apply xl:rounded-tl-[250px] xl:rounded-br-[250px];
        }
      }
    }
    .button_bar {
      @apply lg:justify-end;
    }
  }
  &.invert {
    .container {
      @apply lg:flex-row-reverse;
      > .split:nth-of-type(2) {
        img {
          @apply rounded-tr-[150px] rounded-bl-[150px];
          @apply xl:rounded-tr-[250px] xl:rounded-bl-[250px];
        }
      }
    }
  }


  .text ul {
    @apply flex flex-col gap-[14px] list-disc ml-[20px];
  }
  .text {
    @apply text-[20px] leading-[177%];
  }
}

.nav_span {
    @apply absolute -top-[150px] md:-top-[100px];
}
