.testimonials {
  h2 {
    @apply text-center;
  }
  .container {
    @apply flex flex-col gap-[25px];
    ul {
      @apply flex;
      @apply flex-col md:flex-row flex-wrap;
      @apply justify-center;
      @apply gap-[25px] md:gap-0;

      li {
        @apply md:w-1/2;
        @apply xl:w-1/3;
        @apply md:p-4;

        blockquote {
          @apply flex flex-col gap-[15px] p-[45px] relative;
          @apply rounded-[50px] border-[8px] border-background;

          @apply text-brown-darker italic text-[18px];
          @apply bg-background bg-opacity-70;

          &:before,
          &:after {
            @apply font-black text-[150px] leading-none;
            @apply absolute p-[10px] scale-[1.2];
            @apply opacity-[.07];
            font-family: 'Ruge Boogie', cursive;
          }
          &:before {
            content: "\2018\2018";
            @apply top-[0] left-[0px] tracking-[5px];
          }
          &:after {
            content: "\2019\2019";
            @apply bottom-[-60px] right-[40px] tracking-[-18px];
          }
          .content {
            @apply flex flex-col gap-[10px];
          }
          .name {
            @apply text-[22px] font-black italic text-green;
          }
        }
      }
    }
  }
}
