.video {
  @apply relative;
  h2 {
    @apply hidden;
  }
  .image {
    @apply w-full h-[full];
    aspect-ratio: 16/9;
    @apply bg-no-repeat bg-cover;
  }
  .container {
    @apply absolute top-0  max-w-full;
    @apply h-full bg-white;
    @apply flex items-center justify-center;
    @apply bg-brown bg-opacity-70;
  }
}

#video_view {
  @apply hidden;
  .close {
    @apply absolute z-[5000] right-0 top-0 p-[20px] cursor-pointer opacity-70 hover:opacity-100 transition;
    svg {
      @apply w-[30px] h-[30px];
      path {
        @apply fill-white;
      }
    }
  }
}

body.has_video {
  @apply overflow-hidden;
  #video_view {
    @apply flex items-center justify-center;
    @apply fixed top-0 left-0 w-full h-full z-[2000];
    @apply bg-black bg-opacity-80;

    iframe {
      @apply absolute top-1/2 left-1/2 right-0 bottom-0 w-[80%] h-[80%];
      @apply -translate-x-1/2 -translate-y-1/2;
    }
  }
}
